In [65]:
# Dependencies
from citipy import citipy
import pandas as pd
import openweathermapy.core as owm
import json
import requests
from config import api_key
import random as random
from pprint import pprint

In [66]:
# Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude.
#1.  generate lat and longs

#How many points will be generated
numpoints = random.randint(0,50)
coordinates = []

# Create the bounding box
#set longitude values - Y values
minx = -180
maxx = 180

#set latitude values - X values
miny = -23.5
maxy = 23.5

for x in range(0,numpoints):
    coordinate =(random.uniform(minx,maxx),random.uniform(miny,maxy))
    if coordinate !in coordinates:
        coordinates.append(coordinate)
    else

df = pd.DataFrame(coordinates)
df.rename(columns = {0:'lng', 1:'lat'}, inplace = True)
df.head()

          lng        lat
0   11.544574   6.665854
1   39.879517  -0.675984
2  -56.395081  22.223239
3 -116.867106  -0.010738
4   38.981740 -11.587859

In [67]:
#2. lookup citipy based on values and get cities
cities = []
for coordinate_pair in coordinates:
    lat, lon = coordinate_pair
    cities.append(citipy.nearest_city(lat, lon))

city_names = []   
for city in cities:
    city_names.append(city.city_name)

In [68]:
#Perform a weather check on each of the cities using a series of successive API calls.
#
url = "http://api.openweathermap.org/data/2.5/weather?"

city_ids = []
# city_urls =[]
city_temps =[]
city_humidities =[]
city_cloudiness =[]
city_wind_speeds =[]
# city_urls =[]

for city_name in city_names:
    # Build query URL
    query_url = url + "appid=" + api_key + "&q=" + city_name

    # Get weather data
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
    
    # Try to access key that doesn't exist
    try:
        city_ids.append(weather_json['id'])
    except KeyError:
        city_ids.append("")
        
#     try:
#         city_ids.append(weather_json['id'])
#     except KeyError:
#         city_ids.append("")
        
    try:
        city_temps.append(weather_json['main']['temp'])
    except KeyError:
        city_temps.append("")
        
    try:
        city_humidities.append(weather_json['main']['humidity'])
    except KeyError:
        city_humidities.append("")
        
    try:
        city_cloudiness.append(weather_json['clouds']['all'])
    except KeyError:
        city_cloudiness.append("")
        
    try:
        city_wind_speeds.append(weather_json['wind']['speed'])
    except KeyError:
        city_wind_speeds.append("")

print(city_names)

['gusau', 'betera', 'bredasdorp', 'hermanus', 'colares', 'cape town', 'nouadhibou', 'hermanus', 'saldanha', 'barentsburg', 'jamestown', 'tuggurt', 'port-gentil', 'barentsburg', 'illoqqortoormiut', 'hermanus', 'brezno', 'hermanus', 'cape town', 'machico', 'koulikoro', 'barentsburg', 'longyearbyen', 'barentsburg', 'longyearbyen', 'barentsburg', 'hermanus', 'illoqqortoormiut', 'barentsburg', 'lerwick', 'hermanus', 'ushuaia', 'barentsburg', 'hermanus', 'naron', 'illoqqortoormiut', 'longyearbyen', 'hermanus', 'jamestown', 'vila franca do campo', 'ushuaia', 'bonthe', 'port-gentil', 'klaksvik', 'longyearbyen', 'finnsnes', 'santa maria', 'kalabo']

In [69]:
df['city']=city_names
df["id"]=city_ids

# city_urls =[]
df['temp']=city_temps
df['humidity']=city_humidities
df['cloudiness']=city_cloudiness
df['wind speed']=city_wind_speeds

df.head()

,lng,lat,city,id,temp,humidity,cloudiness,wind speed
0,11.544574,6.665854,gusau,2339937,301.632,57,0,5.03
1,39.879517,-0.675984,betera,2520968,293.15,72,20,2.6
2,-56.395081,22.223239,bredasdorp,1015776,291.15,63,8,3.1
3,-116.867106,-0.010738,hermanus,3366880,287.982,78,12,4.58
4,38.981740,-11.587859,colares,2269142,289.31,87,20,4.1

In [63]:
# # Build a scatter plot for each data type
# plt.scatter(weather_data["lon"], weather_data["pressure"], marker="o")

# # Incorporate the other graph properties
# plt.title("Pressure in World Cities")
# plt.ylabel("Pressure (Celsius)")
# plt.xlabel("Longitude")
# plt.grid(True)

# # Save the figure
# plt.savefig("PressureInWorldCities.png")

# # Show plot
# plt.show()

In [64]:
#Save both a CSV of all data retrieved and png images for each scatter plot.
# Temperature (F) vs. Latitude
# Humidity (%) vs. Latitude
# Cloudiness (%) vs. Latitude
# Wind Speed (mph) vs. Latitude